.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.input-area {
    width: 70%;
    height: 100%;
    border: none;
    padding: 10px 14px;
    color: #555;
    font-size: 18px;
    background-color: rgba(250, 250, 250, 0.51);
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 1s ease-in-out;
}
.input-area::placeholder {
    font-family: Montserrat, serif;
}

.button-weather {
    width: 30%;
    height: 50px;
    background-color: #eaeaea;
    padding: 10px 20px;
    color: #5c5c5c;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    outline: none;
    border: none;
}
.button-weather:hover {
    background-color: #5c5c5c;
    color: white;
}

.not-found {
    color: #5c5c5c;
}